<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="text-center">SEO</h1>

      <img src="/assets/img/seo.png" width="30%" class="mx-auto d-block">

      <div class="row justify-content-center">
        <div class="col-9">
          <p>
            <strong>SEO</strong> – Поисковая оптимизация, комплекс мер по внутренней и внешней оптимизации для поднятия
            позиций сайта в результатах выдачи поисковых систем по определённым запросам пользователей,
            с целью увеличения сетевого трафика, потенциальных клиентов и последующей монетизации этого трафика.
          </p>
          <p>
            Каким бы ни был хорошим и информативным web-ресурс, без качественного белого сео продвижения он никогда не попадет в «ТОП».
            Продвижение  –  комплексный пакет мер, направленных на определенную цель.
            То есть, эффективное и достаточно быстрое продвижение сайта и поисковая оптимизация – это действия специалиста,
            направленные на занятие сайтом «ТОПовых» позиций, с целью максимального увеличения
            просмотров/подписчиков/клиентов и, естественно, улучшения финансового благосостояния владельца.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
