<div class="container">
  <h1 class="text-center">Сайт каталог</h1>

  <img src="/assets/img/catalog.png" width="40%" class="mx-auto d-block">

  <div class="row justify-content-center">
    <div class="col-9">
      <p><strong>Сайт каталог </strong> - сайт содержащий полную информацию о компании плюс электронный каталог её услуг и продукции. Посетители могут ознакомиться с прайс-листами, описанием товаров и услуг, просмотреть фотографии и обратиться в компанию для совершения покупки или оформления заказа.</p>
      <h4>Преимущества разработки сайт-каталога</h4>
      <p>Этот ресурс станет удобным инструментом продаж, который поможет не только повысить доходность бизнеса, но и упростит задачу представления ассортимента целевой аудитории, а именно:</p>
      <ul>
        <li><strong>Позволит</strong> вашим потенциальным клиентам более детально изучить товар, цены и мнение других покупателей (отзывы).</li>
        <li><strong>Поможет</strong> расширить территорию влияния.</li>
        <li><strong>Предоставит</strong> возможность детально отслеживать покупательский спрос и конверсию, а следовательно позволит найти эффективные каналы для рекламы.</li>
        <li><strong>Даст возможность</strong> обновлять в каталоге цены и другую информацию всего в несколько кликов.</li>
      </ul>
    </div>
  </div>
</div>
