<nav id="main-menu" class="" itemscope itemtype="http://schema.org/SiteNavigationElement">
  <a docs-button mat-button routerLink="/" routerLinkActive="active"  itemprop="url">
    <mat-icon>home</mat-icon>
  </a>
  <a docs-button mat-button routerLink="/services" routerLinkActive="active"  itemprop="url">
    Услуги
  </a>
  <a docs-button mat-button routerLink="/services/price" routerLinkActive="active"  itemprop="url">
    Прайс
  </a>
  <a docs-button mat-button routerLink="/contacts" routerLinkActive="active"  itemprop="url">
    Контакты
  </a>

  <div class="flex-spacer"></div>

  <a docs-button mat-button href="tel:89202055125" class="sm-hide" rel="nofollow">
    <mat-icon>smartphone</mat-icon>
    8 (920) 205-51-25
  </a>
</nav>
