<div class="container">
  <h1 class="text-center">Single-page app</h1>

  <img src="/assets/img/spa.png" width="30%" class="mx-auto d-block">

  <div class="row justify-content-center">
    <div class="col-9">
      <p><strong>Single Page Application</strong> – сокращенно SPA, в переводе на русский язык означает “Приложение одной страницы”. Другими словами SPA – это web-приложение, размещенное на одной web-странице, которая для обеспечения работы загружает весь необходимый код вместе с загрузкой самой страницы. Приложение такого типа появились сравнительно недавно, с началом эры HTML5 и SPA является типичным представителем приложений на HTML5.</p>
    </div>
  </div>
</div>
