<div class="landing-container">
  <div class="landing bkg-1" id="main-lang">
    <video autoplay loop>
      <source src="assets/video/bkg.mp4" type="video/mp4">
    </video>
    <div class="label-container">
      <div class="revealator-fadein">
        <h2 class="revealator-slideleft revealator-delay2 revealator-duration5">Привет</h2>
        <h3 class="revealator-slideleft revealator-delay5 revealator-duration5">Меня зовут Игорь a.k.a.</h3>
        <h1 class="revealator-slideleft revealator-delay8 revealator-duration5">Marround</h1>
      </div>
    </div>
    <img src="/assets/img/beard.png" class="beard revealator-zoomin revealator-delay1 revealator-duration5">
    <div class="text-container">
      <div class="revealator-fadein">
        <h4 class="revealator-slideright revealator-delay13 revealator-duration5 float-right">Я разработчик вэб сайтов</h4><br>
        <h4 class="revealator-slideright revealator-delay16 revealator-duration5 float-right">И вот что Я могу Вам предложить</h4>
      </div>
    </div>
  </div>

  <button mat-mini-fab class="scroll-next" (click)="goToNext('second-lang')"><mat-icon>keyboard_arrow_down</mat-icon></button>

  <div class="landing bkg-2" id="second-lang">
    <div class="jumbotron-fluid">
      <div class="container-fluid d-flex h-100">
        <div class="row justify-content-center align-self-center">

          <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12 m-xs-top d-flex align-items-stretch">
            <div class="card revealator-slideleft revealator-delay2 revealator-duration5 mat-elevation-z12 card-hover">
              <!--<div class="card-header card-header-bkg text-center card-header-text"></div>-->
              <div class="card-body">
                <h4 class="card-title card-header-text text-center">Актуально</h4>
                <p class="card-text">
                  Разработка исключительно на основе современных тенденций, инновационных технологий в сайтостроении, проектировании и дизайне.
                </p>
              </div>
              <div class="card-footer">
                <img src="/assets/img/labels/html5.png" alt="HTML5" width="18%">
                <img src="/assets/img/labels/CSS-3.png" alt="CSS3" width="18%">
                <img src="/assets/img/labels/ng_50.png" alt="Angular 5.0" width="18%">
                <img src="/assets/img/labels/bootstrap4.png" alt="Bootstrap4" width="18%">
                <img src="/assets/img/labels/typescript.png" alt="TypeScript" width="18%">
              </div>
            </div>
          </div>

          <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12 m-xs-top d-flex align-items-stretch">
            <div class="card revealator-slideleft revealator-delay4 revealator-duration5 mat-elevation-z12 card-hover">
              <!--<div class="card-header card-header-bkg text-center card-header-text"></div>-->
              <div class="card-body">
                <h4 class="card-title card-header-text text-center">Персонально</h4>
                <p class="card-text">
                  Учет персональных пожеланий, конструктивной критики и рекомендаций ведущих веб-специалистов на каждом этапе работы над проектом.
                </p>
              </div>
              <div class="card-footer text-center">
                <img src="/assets/img/labels/group.png" alt="" width="25%">
              </div>
            </div>
          </div>

          <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12 m-xs-top d-flex align-items-stretch">
            <div class="card revealator-slideleft revealator-delay6 revealator-duration5 mat-elevation-z12 card-hover">
              <!--<div class="card-header card-header-bkg text-center card-header-text">Качество</div>-->
              <div class="card-body">
                <h4 class="card-title card-header-text text-center">Качественно</h4>
                <p class="card-text">
                  Многократное тестирование ресурса, идеальное выверение код и адаптация сайта под все виды устройств – от настольного ПК до мобильного гаджета.
                </p>
              </div>
              <div class="card-footer text-center">
                <img src="/assets/img/labels/gears.png" alt="" width="36%">
              </div>
            </div>
          </div>

          <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12 m-xs-top d-flex align-items-stretch">
            <div class="card revealator-slideleft revealator-delay8 revealator-duration5 mat-elevation-z12 card-hover">
              <!--<div class="card-header card-header-bkg text-center card-header-text">Лучшая цена</div>-->
              <div class="card-body">
                <h4 class="card-title card-header-text text-center">Выгодно</h4>
                <p class="card-text">
                  Предоставление честной цены за профессиональную работу опытного специалиста – без переплат и проблем.
                </p>
              </div>
              <div class="card-footer text-center">
                <img src="/assets/img/labels/best-price.png" alt="" width="29%">
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <button mat-mini-fab class="scroll-next" (click)="goToNext('treed-lang')"><mat-icon>keyboard_arrow_down</mat-icon></button>

  <div class="landing bkg-3" id="treed-lang">
    <div class="content-block">
      <div class="container-fluid d-flex h-100">
        <div class="row justify-content-center align-self-center">
          <div class="row">
            <div class="col-12">
              <h2 class="text-center">Создание сайтов</h2>
            </div>
            <div class="col-12">
              <div class="row">
                <div class="col d-flex align-items-stretch">
                  <mat-card class="card-texture mat-elevation-z12">
                    <mat-card-title>Landing page</mat-card-title>
                    <mat-card-content>
                      <strong>Лэндинг</strong> - одностраничный сайт, или просто страница захвата, наиболее подходит для продажи одного товара или услуги, «лэндинги» обычно содержит всю необходимую информацию о товаре, его преимуществах, вариантах покупки, контакты продавца, ответы на часто задаваемые вопросы, преимущества предложения и конечно формы захвата (заказ звонка, оставление заявки и т.д.).
                    </mat-card-content>
                    <mat-card-footer>
                      <p class="text-center">От 7 000 ₽</p>
                    </mat-card-footer>
                  </mat-card>
                </div>
                <div class="w-100 m-3 d-xl-none d-lg-none"></div>
                <div class="col d-flex align-items-stretch">
                  <mat-card class="card-texture mat-elevation-z12">
                    <mat-card-title>Single-page application</mat-card-title>
                    <mat-card-content>
                      <strong>SPA (single-page application)</strong> - это не просто сайт, а полноценное приложение, работа которого полностью перенесена на сторону клиента, то есть в браузер. И в отличие от обычных сайтов предоставляет не просто контент, а полноценный сервис, общаясь с сервером только чистыми данными. Ярким представителем среди front-end фреймворков является Angular 2+ от Google.
                    </mat-card-content>
                    <mat-card-footer>
                      <p class="text-center">От 7 000 ₽</p>
                    </mat-card-footer>
                  </mat-card>
                </div>
                <div class="w-100 m-3"></div>
                <div class="col d-flex align-items-stretch">
                  <mat-card class="card-texture mat-elevation-z12">
                    <mat-card-title>Сайт визитка</mat-card-title>
                    <mat-card-content>
                      <p>
                        <strong>Сайта визитка</strong> - хорошо подойдет для начинающих фирм и организаций. Как правило, состоит из нескольких страниц и содержит основную информацию о деятельности фирмы: контактные данные, информацию о предоставляемых услугах или продукции, прайс-листы и форму обратной связи.
                      </p>
                    </mat-card-content>
                    <mat-card-footer>
                      <p class="text-center">От 3 000 ₽</p>
                    </mat-card-footer>
                  </mat-card>
                </div>
                <div class="w-100 m-3 d-xl-none d-lg-none"></div>
                <div class="col d-flex align-items-stretch">
                  <mat-card class="card-texture mat-elevation-z12">
                    <mat-card-title>Сайт каталог</mat-card-title>
                    <mat-card-content>
                      <strong>Сайт каталог</strong> - содержит полную информацию о компании плюс электронный каталог её услуг и продукции. Посетители могут ознакомиться с прайс-листами, описанием товаров и услуг, просмотреть фотографии и обратиться в компанию для совершения покупки или оформления заказа.
                    </mat-card-content>
                    <mat-card-footer>
                      <p class="text-center">От 20 000 ₽</p>
                    </mat-card-footer>
                  </mat-card>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <button mat-mini-fab class="scroll-next" (click)="goToNext('main-lang')"><mat-icon>keyboard_arrow_up</mat-icon></button>
</div>
