<div class="landing-container">
  <div class="landing bkg-1" id="main-lang">
    <video autoplay loop>
      <source src="assets/video/bkg.mp4" type="video/mp4">
    </video>
    <div class="d-flex align-items-start flex-column w-100">
      <div class="mb-auto p-2">
        <div class="revealator-fadein pl-3">
          <h2 class="revealator-slideleft revealator-delay2 revealator-duration5">Привет</h2>
          <h3 class="revealator-slideleft revealator-delay5 revealator-duration5">Меня зовут Игорь a.k.a.</h3>
          <h1 class="revealator-slideleft revealator-delay8 revealator-duration5">Marround</h1>
        </div>
      </div>
      <img src="/assets/img/beard.png" class="beard">
      <div class="w-100">
        <div class="revealator-fadein float-right pr-3">
          <h4 class="revealator-slideright revealator-delay13 revealator-duration5 float-right">Я разработчик вэб сайтов</h4><br>
          <h4 class="revealator-slideright revealator-delay16 revealator-duration5 float-right">И вот что Я могу Вам предложить</h4>
        </div>
      </div>
    </div>
  </div>

  <button mat-mini-fab class="scroll-next" (click)="goToNext('second-lang')"><mat-icon>keyboard_arrow_down</mat-icon></button>

  <div class="landing bkg-2" id="second-lang">
    <div class="jumbotron-fluid">
      <div class="container-fluid d-flex h-100">
        <div class="row justify-content-center align-self-center">

          <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12 m-xs-top d-flex align-items-stretch">
            <div class="card revealator-slideleft revealator-delay2 revealator-duration5 mat-elevation-z12 card-hover">
              <!--<div class="card-header card-header-bkg text-center card-header-text"></div>-->
              <div class="card-body">
                <h4 class="card-title card-header-text text-center">Актуальность</h4>
                <p class="card-text">
                  Разработка исключительно на основе современных тенденций, инновационных технологий в сайтостроении, проектировании и дизайне.
                </p>
              </div>
              <div class="card-footer">
                <img src="/assets/img/labels/html5.png" alt="HTML5" width="18%">
                <img src="/assets/img/labels/CSS-3.png" alt="CSS3" width="18%">
                <img src="/assets/img/labels/ng_50.png" alt="Angular 5.0" width="18%">
                <img src="/assets/img/labels/bootstrap4.png" alt="Bootstrap4" width="18%">
                <img src="/assets/img/labels/typescript.png" alt="TypeScript" width="18%">
              </div>
            </div>
          </div>

          <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12 m-xs-top d-flex align-items-stretch">
            <div class="card revealator-slideleft revealator-delay4 revealator-duration5 mat-elevation-z12 card-hover">
              <!--<div class="card-header card-header-bkg text-center card-header-text"></div>-->
              <div class="card-body">
                <h4 class="card-title card-header-text text-center">Персональность</h4>
                <p class="card-text">
                  Учет персональных пожеланий, конструктивной критики и рекомендаций ведущих веб-специалистов на каждом этапе работы над проектом.
                </p>
              </div>
              <div class="card-footer text-center">
                <img src="/assets/img/labels/group.png" alt="" width="25%">
              </div>
            </div>
          </div>

          <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12 m-xs-top d-flex align-items-stretch">
            <div class="card revealator-slideleft revealator-delay6 revealator-duration5 mat-elevation-z12 card-hover">
              <!--<div class="card-header card-header-bkg text-center card-header-text">Качество</div>-->
              <div class="card-body">
                <h4 class="card-title card-header-text text-center">Качество</h4>
                <p class="card-text">
                  Многократное тестирование ресурса, идеальное выверение код и адаптация сайта под все виды устройств – от настольного ПК до мобильного гаджета.
                </p>
              </div>
              <div class="card-footer text-center">
                <img src="/assets/img/labels/gears.png" alt="" width="36%">
              </div>
            </div>
          </div>

          <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12 m-xs-top d-flex align-items-stretch">
            <div class="card revealator-slideleft revealator-delay8 revealator-duration5 mat-elevation-z12 card-hover">
              <!--<div class="card-header card-header-bkg text-center card-header-text">Лучшая цена</div>-->
              <div class="card-body">
                <h4 class="card-title card-header-text text-center">Выгоду</h4>
                <p class="card-text">
                  Предоставление честной цены за профессиональную работу опытного специалиста – без переплат и проблем.
                </p>
              </div>
              <div class="card-footer text-center">
                <img src="/assets/img/labels/best-price.png" alt="" width="29%">
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <button mat-mini-fab class="scroll-next" (click)="goToNext('treed-lang')"><mat-icon>keyboard_arrow_down</mat-icon></button>

  <div class="landing bkg-3" id="treed-lang">
    <div class="content-block">
      <div class="container-fluid d-flex h-100">
        <div class="row justify-content-center align-self-center">
          <div class="row">
            <div class="col-12">
              <h2 class="text-center">Создание сайтов</h2>
            </div>
            <div class="col-12">
              <div class="row">
                <div class="col d-flex align-items-stretch">
                  <mat-card class="card-texture mat-elevation-z12">
                    <mat-card-title>Landing page</mat-card-title>
                    <mat-card-content>
                      <strong>Лэндинг</strong> - одностраничный сайт, или просто страница захвата, наиболее подходит для продажи одного товара или услуги, «лэндинги» обычно содержит всю необходимую информацию о товаре, его преимуществах, вариантах покупки, контакты продавца, ответы на часто задаваемые вопросы, преимущества предложения и конечно формы захвата (заказ звонка, оставление заявки и т.д.).
                    </mat-card-content>
                    <mat-card-footer>
                      <p class="text-center">От 7 000 ₽</p>
                    </mat-card-footer>
                  </mat-card>
                </div>
                <div class="w-100 m-3 d-xl-none d-lg-none"></div>
                <div class="col d-flex align-items-stretch">
                  <mat-card class="card-texture mat-elevation-z12">
                    <mat-card-title>Single-page application</mat-card-title>
                    <mat-card-content>
                      <strong>SPA (single-page application)</strong> - это не просто сайт, а полноценное приложение, работа которого полностью перенесена на сторону клиента, то есть в браузер. И в отличие от обычных сайтов предоставляет не просто контент, а полноценный сервис, общаясь с сервером только чистыми данными. Ярким представителем среди front-end фреймворков является Angular 5 от Google.
                    </mat-card-content>
                    <mat-card-footer>
                      <p class="text-center">От 7 000 ₽</p>
                    </mat-card-footer>
                  </mat-card>
                </div>
                <div class="w-100 m-3"></div>
                <div class="col d-flex align-items-stretch">
                  <mat-card class="card-texture mat-elevation-z12">
                    <mat-card-title>Сайт визитка</mat-card-title>
                    <mat-card-content>
                      <p>
                        <strong>Сайта визитка</strong> - хорошо подойдет для начинающих фирм и организаций. Как правило, состоит из нескольких страниц и содержит основную информацию о деятельности фирмы: контактные данные, информацию о предоставляемых услугах или продукции, прайс-листы и форму обратной связи.
                      </p>
                    </mat-card-content>
                    <mat-card-footer>
                      <p class="text-center">От 3 000 ₽</p>
                    </mat-card-footer>
                  </mat-card>
                </div>
                <div class="w-100 m-3 d-xl-none d-lg-none"></div>
                <div class="col d-flex align-items-stretch">
                  <mat-card class="card-texture mat-elevation-z12">
                    <mat-card-title>Сайт каталог</mat-card-title>
                    <mat-card-content>
                      <strong>Сайт каталог</strong> - содержит полную информацию о компании плюс электронный каталог её услуг и продукции. Посетители могут ознакомиться с прайс-листами, описанием товаров и услуг, просмотреть фотографии и обратиться в компанию для совершения покупки или оформления заказа.
                    </mat-card-content>
                    <mat-card-footer>
                      <p class="text-center">От 20 000 ₽</p>
                    </mat-card-footer>
                  </mat-card>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <button mat-mini-fab class="scroll-next" (click)="goToNext('fourth-lang')"><mat-icon>keyboard_arrow_down</mat-icon></button>

  <div class="landing bkg-4" id="fourth-lang">
    <div class="content-block">
      <div class="container-fluid d-flex h-100">
        <div class="row justify-content-center align-self-center">
          <div class="row">
            <div class="col-12">
              <h2 class="text-center">Мои контакты</h2>
            </div>
            <div class="col-12">
              <div class="row">
                <div class="col border border-white mr-xl-2 mr-lg-2 mr-md-2 fb-bkg">
                  <mat-list role="list">
                    <mat-list-item role="listitem">
                      <mat-icon>smartphone</mat-icon>
                      <a href="tel:89202055125" target="_blank" class="fb-link" rel="nofollow">8 (920) 205-51-25</a>
                    </mat-list-item>
                    <mat-list-item role="listitem">
                      <img src="/assets/img/icons/telegram.png" width="24">
                      <a href="https://t.me/marround" target="_blank" class="fb-link" rel="nofollow">Telegram: @marround</a>
                    </mat-list-item>
                    <mat-list-item role="listitem">
                      <mat-icon>mail_outline</mat-icon>
                      <a href="mailto:marround@yandex.ru" target="_blank" class="fb-link" rel="nofollow">marround@yandex.ru</a>
                    </mat-list-item>
                    <mat-list-item role="listitem">
                      <img src="/assets/img/icons/skype.png" width="24">
                      <a href="skype:marround?call" class="fb-link" rel="nofollow">Skype:marround</a>
                    </mat-list-item>
                    <mat-list-item role="listitem">
                      <img src="/assets/img/icons/vk.png" width="24">
                      <a href="https://vk.com/marround" class="fb-link" target="_blank" rel="nofollow">vk.com/marround</a>
                    </mat-list-item>
                    <mat-list-item>
                        <mat-icon>query_builder</mat-icon>
                        <a class="fb-link">ПН-ПТ: 09:00 - 18:00</a>
                    </mat-list-item>
                  </mat-list>
                  <div class="fb-notice">
                    <p><strong>У Вас возникли вопросы или Вы уже знаете что хотите - позвоните, напишите или заполните форму обратной связи! Я отвечу на все Ваши вопросы, консультация всегда будет бесплатной.</strong></p>
                  </div>
                </div>
                <div class="w-100 m-2 d-xl-none d-lg-none"></div>
                <div class="col border border-white fb-bkg">
                  <!--Form with header-->
                  <div class="card">
                    <div class="col-lg-12 mb-5">
                      <h2 class="text-center">Оставьте заявку</h2>
                      <form>
                        <div class="feedback-form">
                          <mat-form-field>
                            <span matPrefix><mat-icon class="sky-blue">account_circle</mat-icon>&nbsp;&nbsp;</span>
                            <input matInput #uname placeholder="Ваше имя" maxlength="70" name="uName" [(ngModel)]="uName" required>
                            <mat-hint align="end">{{uname.value.length}} / 70</mat-hint>
                          </mat-form-field>

                          <mat-form-field>
                            <span matPrefix><mat-icon class="sky-blue">mail_outline</mat-icon>&nbsp;&nbsp;</span>
                            <input matInput #mailfield placeholder="Email" maxlength="50" name="email" [(ngModel)]="email" required>
                            <mat-hint align="end">{{mailfield.value.length}} / 50</mat-hint>
                          </mat-form-field>

                          <mat-form-field class="example-full-width">
                            <span matPrefix>+7 &nbsp;</span>
                            <input type="tel" matInput #phonenumber placeholder="Телефон" maxlength="10" name="phone" [(ngModel)]="phone" required>
                            <mat-hint align="end">{{phonenumber.value.length}} / 10</mat-hint>
                          </mat-form-field>

                          <mat-form-field>
                            <textarea matInput #message placeholder="Текст сообщения" maxlength="256" rows="7" name="textMessage" [(ngModel)]="textMessage" required></textarea>
                            <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
                          </mat-form-field>

                        </div>
                        <br>
                        <button mat-fab color="primary" class="float-right align-bottom" (click)="sendMessage(uName, email, phone, textMessage)"><mat-icon>send</mat-icon></button>
                      </form>
                    </div>
                  </div>
                  <!--Form with header-->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <button mat-mini-fab class="scroll-next" (click)="goToNext('main-lang')"><mat-icon>keyboard_arrow_up</mat-icon></button>
</div>
