<div class="bkg-1">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="text-center">Услуги</h1>
      </div>
      <div class="col-12">
        <div class="row">
          <div class="col d-flex align-items-stretch">
            <a routerLink="/services/landingpage" class="card-link">
              <mat-card class="card-texture mat-elevation-z12">
                <mat-card-title>Landing page</mat-card-title>
                <mat-card-content>
                  <strong>Лэндинг</strong> - одностраничный сайт, или просто страница захвата, наиболее подходит для продажи одного товара или услуги, «лэндинги» обычно содержит всю необходимую информацию о товаре, его преимуществах, вариантах покупки, контакты продавца, ответы на часто задаваемые вопросы, преимущества предложения и конечно формы захвата (заказ звонка, оставление заявки и т.д.).
                </mat-card-content>
                <mat-card-footer>
                  <p class="text-center">От 7 000 ₽</p>
                </mat-card-footer>
              </mat-card>
            </a>
          </div>
          <div class="w-100 m-3 d-xl-none d-lg-none"></div>
          <div class="col d-flex align-items-stretch">
            <a routerLink="/services/spa" class="card-link">
              <mat-card class="card-texture mat-elevation-z12">
                <mat-card-title>Single-page application</mat-card-title>
                <mat-card-content>
                  <strong>SPA (single-page application)</strong> - это не просто сайт, а полноценное приложение, работа которого полностью перенесена на сторону клиента, то есть в браузер. И в отличие от обычных сайтов предоставляет не просто контент, а полноценный сервис, общаясь с сервером только чистыми данными. Ярким представителем среди front-end фреймворков является Angular 5 от Google.
                </mat-card-content>
                <mat-card-footer>
                  <p class="text-center">От 7 000 ₽</p>
                </mat-card-footer>
              </mat-card>
            </a>
          </div>
          <div class="w-100 m-3"></div>
          <div class="col d-flex align-items-stretch">
            <a routerLink="/services/sitecutaway" class="card-link">
              <mat-card class="card-texture mat-elevation-z12">
                <mat-card-title>Сайт визитка</mat-card-title>
                <mat-card-content>
                  <p>
                    <strong>Сайта визитка</strong> - хорошо подойдет для начинающих фирм и организаций. Как правило, состоит из нескольких страниц и содержит основную информацию о деятельности фирмы: контактные данные, информацию о предоставляемых услугах или продукции, прайс-листы и форму обратной связи.
                  </p>
                </mat-card-content>
                <mat-card-footer>
                  <p class="text-center">От 3 000 ₽</p>
                </mat-card-footer>
              </mat-card>
            </a>
          </div>
          <div class="w-100 m-3 d-xl-none d-lg-none"></div>
          <div class="col d-flex align-items-stretch">
            <a routerLink="/services/sitecatalog" class="card-link">
              <mat-card class="card-texture mat-elevation-z12">
                <mat-card-title>Сайт каталог</mat-card-title>
                <mat-card-content>
                  <strong>Сайт каталог</strong> - содержит полную информацию о компании плюс электронный каталог её услуг и продукции. Посетители могут ознакомиться с прайс-листами, описанием товаров и услуг, просмотреть фотографии и обратиться в компанию для совершения покупки или оформления заказа.
                </mat-card-content>
                <mat-card-footer>
                  <p class="text-center">От 20 000 ₽</p>
                </mat-card-footer>
              </mat-card>
            </a>
          </div>
          <div class="w-100 m-3"></div>
          <div class="col d-flex align-items-stretch">
            <a routerLink="/services/standard" class="card-link">
              <mat-card class="card-texture mat-elevation-z12">
                <mat-card-title>Сопровождение - Standard</mat-card-title>
                <mat-card-content>
                  <strong>Техническое обслуживание сайта</strong> - этот вариант подойдет если Вы владелец не большого ресурса, который не требует много времени но достаточно сложный, что бы за его работой следил опытный человек. В обслуживание включены наиболее распросстраненные виды работ, но их вполне достаточно для нормальной работы ресурса. Является самым распространенным видом сопровождения.
                </mat-card-content>
                <mat-card-footer>
                  <p class="text-center">От 5 500 ₽</p>
                </mat-card-footer>
              </mat-card>
            </a>
          </div>
          <div class="w-100 m-3 d-xl-none d-lg-none"></div>
          <div class="col d-flex align-items-stretch">
            <a routerLink="/services/allinclusive" class="card-link">
              <mat-card class="card-texture mat-elevation-z12">
                <mat-card-title>Сопровождение - All inclusive</mat-card-title>
                <mat-card-content>
                  <strong>Комплексное обслуживание сайта</strong> – это оптимальное решение для каждого владельца ресурса, если он заинтересован в его высокой посещаемости и успешности. Без помощи опытных специалистов вы не сможете вывести сайт в ТОП10, а ведь не секрет, что редко кто из пользователей заглядывает на вторую страницу ответов поисковика, не говоря уже о последующих.
                </mat-card-content>
                <mat-card-footer>
                  <p class="text-center">От 12 000 ₽</p>
                </mat-card-footer>
              </mat-card>
            </a>
          </div>
          <div class="w-100 m-3"></div>
          <div class="col d-flex align-items-stretch mb-5">
            <a routerLink="/services/seo" class="card-link">
              <mat-card class="card-texture mat-elevation-z12">
                <mat-card-title>SEO</mat-card-title>
                <mat-card-content>
                  <strong>Техническое обслуживание сайта</strong> - этот вариант подойдет если Вы владелец не большого ресурса, который не требует много времени но достаточно сложный, что бы за его работой следил опытный человек. В обслуживание включены наиболее распросстраненные виды работ, но их вполне достаточно для нормальной работы ресурса. Является самым распространенным видом сопровождения.
                </mat-card-content>
                <mat-card-footer>
                  <p class="text-center">От 15 000 ₽</p>
                </mat-card-footer>
              </mat-card>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
