<mat-drawer-container class="sn-container" autosize>
  <mat-drawer #drawer class="sidenav" mode="side" opened="true">
    <div class="list-group">
      <a class="list-group-item list-group-item-action" routerLink="/services/price" href="/services/price" routerLinkActive="active">Прайслист</a>
      <a class="list-group-item list-group-item-action" routerLink="/services/landingpage" href="/services/landingpage" routerLinkActive="active">Лэндинг-пэйдж</a>
      <a class="list-group-item list-group-item-action" routerLink="/services/spa" href="/services/spa" routerLinkActive="active">SPA (Сингл-пэйдж)</a>
      <a class="list-group-item list-group-item-action" routerLink="/services/sitecutaway" href="/services/sitecutaway" routerLinkActive="active">Сайт визитка</a>
      <a class="list-group-item list-group-item-action" routerLink="/services/sitecatalog" href="/services/sitecatalog" routerLinkActive="active">Сайт каталог</a>
      <a class="list-group-item list-group-item-action" routerLink="/services/standard" href="/services/standard" routerLinkActive="active">Сопровождение - Standard</a>
      <a class="list-group-item list-group-item-action" routerLink="/services/allinclusive" href="/services/allinclusive" routerLinkActive="active">Сопровождение - All inclusive</a>
    </div>

  </mat-drawer>

  <div class="sidenav-content">
    <button type="button" mat-raised-button color="accent" (click)="drawer.toggle()" class="menu-button">
      <mat-icon>menu</mat-icon>
    </button>

    <router-outlet></router-outlet>

  </div>

</mat-drawer-container>
