<div class="container">
  <h1 class="text-center">Landing page</h1>

  <img src="/assets/img/landing.png" width="30%" class="mx-auto d-block">

  <div class="row justify-content-center">
    <div class="col-9">
      <p><strong>Лендинг (landing page)</strong> - одностраничный сайт, который создается с целью довести клиента, который зашел на такую страницу, до нужного целевого действия. Это может быть подписка, регистрация, покупка какого-то товара и т.д.</p>
      <p>У лендинга много других названий (одностраничный сайт, одностраничник, посадочная страница, целевая страница, страница приземления, “ленд”). Но именно слово “лендинг” наиболее просто в использовании, поэтому именно его в основном и используют.</p>
    </div>
  </div>
</div>
