<div class="docs-footer">
  <div class="docs-footer-list">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xl-6 col-lg-5 col-md-4 col-sm-4 col-4">
          <h3>Marround</h3>
          <hr class="m-y-2">
          <p class="text-overflow">
            Вэб мастер - г. Белгород
          </p>
        </div>
        <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2">
          <h3 class="text-sm-center"><mat-icon>query_builder</mat-icon></h3>
          <hr class="m-y-2">
          <p class="text-md-center text-overflow">
            ПН-ПТ: 09:00 - 18:00
          </p>
        </div>
        <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2">
          <h3 class="text-sm-center"><mat-icon>phone_iphone</mat-icon></h3>
          <hr class="m-y-2">
          <p class="text-md-center text-overflow">
            <a href="tel:89194341499">8 (919) 434-14-99</a>
          </p>
        </div>
        <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2">
          <h3 class="text-sm-center"><mat-icon>mail_outline</mat-icon></h3>
          <hr class="m-y-2">
          <p class="text-sm-center text-overflow">
            <a href="mailto:syromyatnikova.ea@mail.ru" target="_blank">syromyatnikova.ev@mail.ru</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
