<div class="docs-footer">
  <div class="docs-footer-list">
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <h3>Marround</h3>
          <hr class="m-y-2">
          <p class="text-overflow">
            Вэб мастер - г. Белгород
          </p>
        </div>
        <div class="col">
          <h3 class="text-center"><mat-icon>query_builder</mat-icon></h3>
          <hr class="m-y-2">
          <p class="text-center text-overflow">
            ПН-ПТ: 09:00 - 18:00
          </p>
        </div>
        <div class="col">
          <h3 class="text-center"><mat-icon>phone_iphone</mat-icon></h3>
          <hr class="m-y-2">
          <p class="text-center text-overflow">
            <a href="tel:89202055125" rel="nofollow">8 (920) 205-51-25</a>
          </p>
        </div>
        <div class="col">
          <h3 class="text-center"><mat-icon>mail_outline</mat-icon></h3>
          <hr class="m-y-2">
          <p class="text-center text-overflow">
            <a href="mailto:marround@yandex.ru" target="_blank" rel="nofollow">marround@yandex.ru</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
