<div class="container">
  <h1 class="text-center">All inclusive</h1>
  <h4 class="text-center">Сопровождение, техническое обслуживание, наполнение</h4>

  <img src="/assets/img/all-inclusive.png" width="30%" class="mx-auto d-block">

  <div class="row justify-content-center">
    <div class="col-9">
      <p><strong>Комплексное обслуживание сайта</strong> – это оптимальное решение для каждого владельца ресурса, если он заинтересован в его высокой посещаемости и успешности. Без помощи опытных специалистов вы не сможете вывести сайт в ТОП10, а ведь не секрет, что редко кто из пользователей заглядывает на вторую страницу ответов поисковика, не говоря уже о последующих.</p>
      <p>В комплексную поддержку сайтов входят следующие виды работ:</p>
      <ul>
        <li>Исправление ошибок в верстке и HTML;</li>
        <li>Доработка функциональности и улучшение работы модулей;</li>
        <li>Оптимизация скорости загрузки сайта;</li>
        <li>Размещение статей, новостей и т.д. (информация предоставляется заказчиком);</li>
        <li>Анализ статистики посещаемости и предложения по улучшению конверсий и увеличения трафика;</li>
        <li>Быстрое реагирование и устранение различных проблем и ошибок на сайте;</li>
        <li>Разработка дополнительных страниц сайта и обновление уже существующих;</li>
        <li>Редактирование, оптимизация и текстовых и графических материалов на сайте;</li>
        <li>Управление и поддержка актуальности всевозможных элементов сайта;</li>
        <li>Доработки на сайте и оптимизация функционала сайта;</li>
        <li>Резервное копирование и восстановление из резервной копии;</li>
        <li>Чистка от мусора и старого кэша;</li>
        <li>Техническая поддержка хостинга сайта в рабочем состоянии;</li>
        <li>Консультация по развитию сайта в целом;</li>
      </ul>
    </div>
  </div>
</div>
