<div class="container">
  <h1 class="text-center">Сайт визитка</h1>

  <img src="/assets/img/cutaway.png" width="30%" class="mx-auto d-block">

  <div class="row justify-content-center">
    <div class="col-9">
      <p><strong>Сайт визитка</strong> не обязательно должен быть маленьким. Обычно сайт-визитка состоит из того количества страниц, которые выбрал для себя заказчик.</p>
      <p>Это виртуальный ресурс, который имеет уникальный дизайн и специальную программную часть. Последняя отвечает за управление сайтом, а вносить в нее изменения может сам заказчик.</p>
      <p>Такие сайты создают не только частные предприниматели, но и крупные компании, которые желают ознакомить клиентов с основной информацией. Пользоваться таким ресурсом очень легко, поэтому особых навыков не понадобится.</p>
      <p>Сайт-визитка ознакомит потребителей не только с ассортиментом вашей продукции, но и с историей создания фирмы. Там можно разместить ту информацию, которую вы посчитаете важной, ведь ограничений в этом деле не существует.</p>
      <p>Значит, сайт-визитка, который создан по всем правилам, способен рекламировать ваши товары или услуги широкому кругу потребителей. При этом вам не нужно тратить слишком много денег на создание и поддержку ресурса.</p>
    </div>
  </div>
</div>
