<div class="container">
  <h1 class="text-center">Standard</h1>
  <h4 class="text-center">Сопровождение, техническое обслуживание, наполнение</h4>

  <img src="/assets/img/standart.png" width="30%" class="mx-auto d-block">

  <div class="row justify-content-center">
    <div class="col-9">
      <p><strong>Техническое обслуживание сайта</strong>, пакет «Standard» включает в себя следующие виды работ:</p>
      <ul>
        <li>Исправление ошибок в верстке и HTML;</li>
        <li>Доработка функциональности и улучшение модулей;</li>
        <li>Оптимизация скорости загрузки ресурса или страницы;</li>
        <li>Размещение статей, новостей и т.д. (информация предоставляется заказчиком)</li>
        <li>Восстановление из резервной копии в случае сбоя;</li>
        <li>Произведем технический ремонт сайта, в случае если что-то не работает;</li>
        <li>Анализ статистики посещаемости и предложения по улучшению конверсий и увеличения трафика;</li>
        <li>Консультация по развитию сайта в целом;</li>
      </ul>
    </div>
  </div>
</div>
